<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogs</title>
</head>
<body>
    <div>
        <h1>WELCOME TO blog WEBSITE</h1>
    </div>
    <!-- <p>Hello Django!</p> -->
    <!-- {{ posts }} -->

    <!-- Now its time to iterate through -->
    {% for post in posts %}
        <!-- {{ posts }} -->
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text | linebreaksbr }}</p>
            <p><strong>Published: {{ post.published_date }}</strong></p>
        </div>
    {% endfor %}

</body>
</html>